* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #c00101;
}

a {
  color: #c00101;
  text-decoration: none;
}
a:hover {
  color: black;
  text-decoration: none;
}

p {
  padding: 0 10px;
}

dl {
  padding-left: 0px;
}
dt {
  padding-bottom: 2px;
  font-family: verdana;
  font-size: 12px;
}
dd{
  margin-top: 5px;
  margin-left: 15px;
}

.table {
  padding-left: 0px;
  margin-right: 10px;
}

ul {
  padding-top: 3px;
  margin-left: 20px;
  list-style-type: none;
}

.long {
  margin-left: 5px;
}

.home {
  height: 35px;
  font-size: 28px;
  font-family: verdana;
  font-weight: bold;
  text-align: center;
  margin: 4px 4px auto;
  padding: 0px 0px 5px 0px;
  background-color: #e5e5e5;
}
.home a {
  color: black;
}
.home a:hover{
  color: #c00101;
}

.desc{
  font-family: verdana;
  font-size: 12px;
  height: 225px;
  margin: 3px;
  padding: 10px;
  background-color: #e5e5e5;
  float: left;
}

.wrapper {
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

.container, .row {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

table {
  font-size: 11px;
  margin: 3px 10px;
}
td {
  padding: 5px;
  vertical-align: top;
}

#download {
  width: 200px;
}

#program {
  width: 110px;
}
